


#  # react-native-material-tokens
# @jmstechnologiesinc:registry=https://npm.pkg.github.com
#  //npm.pkg.github.com/:_authToken=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

# # react-native-google-place
#  @jmstechnologiesinc:registry=https://npm.pkg.github.com
#  //npm.pkg.github.com/:_authToken=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

# #  react-native-mapbox-navigation
#  @jmstechnologiesinc:registry=https://npm.pkg.github.com
#  //npm.pkg.github.com/:_authToken=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


# token react-native-components
@:registry=https://npm.pkg.github.com
 //npm.pkg.github.com/:_authToken=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



# react-native-paper
@jmstechnologiesinc:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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


# workspace
@jmstechnologiesinc:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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

# fontawesome
# @fortawesome:registry=https://npm.fontawesome.com/
# //npm.fontawesome.com/:_authToken=3A54A26F-E608-4D30-9DFC-6F5593DC2755