
# Packages
@jmsstudiosinc:registry=https://npm.pkg.github.com
 //npm.pkg.github.com/:_authToken=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


@jmsstudiosinc:registry=https://npm.pkg.github.com
 //npm.pkg.github.com/:_authToken=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

# token react-native-components
@jmsstudiosinc:registry=https://npm.pkg.github.com
 //npm.pkg.github.com/:_authToken=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