
# Packages
@jmsstudiosinc:registry=https://npm.pkg.github.com
 //npm.pkg.github.com/:_authToken=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

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=3A54A26F-E608-4D30-9DFC-6F5593DC2755  


@jmsstudiosinc:registry=https://npm.pkg.github.com
 //npm.pkg.github.com/:_authToken=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

@jmsstudiosinc:registry=https://npm.pkg.github.com
 //npm.pkg.github.com/:_authToken=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